/* Media Query for Tablet (min-width: 768px) and (max-width: 1024px)*/
/* header*/

@media (min-width: 768px) {

    /*mainpage*/


    .restaurants {
        padding: 40px 10%;
        padding-bottom: 120px;

        &__cards {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;

            a {
                width: 45%;
            }
        }
    }

    .content {
        max-width: 80%;
        margin-right: 10%;
        margin-left: 10%;
    }

    .title {
        justify-content: center;
        align-items: center;
        gap: 20px;

    }

    .menu {
        max-width: 80%;
        padding-left: 10%;
        padding-right: 10%;
    

    h2 {
        font-weight: 300;
        font-size: 20px;
    }

    .menu .card__title {
        width: 90%;

    }
}

    /* footer*/

    .footer {
        display: flex;
        flex-direction: column;

        h4,
        &__ul {
            text-align: center;
        }

    }


}



/* Media Query for Desktop (min-width: 1025px) */

/*header*/

@media (min-width: 1025px) {
    .header {
        flex-direction: column;
        justify-content: space-between;


        &_logo {
            width: 180px;
            padding: 10px 0;
        }

        form {
            width: 100%;
        }

    }

    .hero {
        padding: 50px;

    }

    /*mainpage*/


    .fonctionnement {
        padding: 40px 10%;

        &__btns {
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: nowrap;

            button {
                width: 30%;
            }
        }
    }

    

    /*footer*/

    .footer {
        flex-direction: row-reverse;
        justify-content: end;
        align-items: center;
        padding: 40px;

        h4 {
            font-size: 22px;
        }

        .footer__ul {
            flex-direction: row;
            gap: 20px;
            margin-right: 50px;
        }
    }



}