body {
  font-family: roboto;
  margin: auto;
}

body * {
  margin: 0px;
  padding: 0px;
}

.main {
  background-color: #f6f6f6;
}

.shrikhand {
  font-family: shrikhand;
}

.btn_commande {
  background: linear-gradient(#FF79DA, #9356DC);
  padding: 20px;
  border-radius: 20px;
  border: none;
  color: white;
  font-weight: 600;
  margin-top: 20px;
  transition: all 600ms ease-in-out;
}
.btn_commande:hover {
  box-shadow: 1px 1px 1px #FF79DA;
  opacity: 0.9;
}

.heart-container {
  font-size: 25px;
  position: relative;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.heart-container:hover .fa-regular {
  opacity: 0;
}
.heart-container:hover .fa-solid {
  opacity: 1;
}
.heart-container .fa-solid {
  position: absolute;
  opacity: 0;
  background: -webkit-linear-gradient(#FF79DA, #9356DC);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: opacity 1s ease-in-out;
}

footer {
  display: flex;
  color: white;
  background-color: #353535;
  padding: 20px;
}
footer .footer__ul {
  list-style: none;
}
footer a {
  text-decoration: none;
  color: white;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header .header_logo {
  width: 240px;
  padding: 20px 0px;
}
.header form {
  width: 100%;
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
  padding: 20px 0px;
  gap: 10px;
  border-top: 1px gray solid;
  border-bottom: 1px gray solid;
  box-shadow: 1px 3px 8px 2px gray;
}
.header form input {
  background: transparent;
  border: none;
}
.header form ::-moz-placeholder {
  text-align: center;
  font-weight: 600;
}
.header form ::placeholder {
  text-align: center;
  font-weight: 600;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  align-items: center;
  background-color: #f6f6f6;
  gap: 10px;
}
.hero * {
  text-align: center;
}

.fonctionnement__title {
  display: flex;
  margin-top: 60px;
  margin-bottom: 20px;
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.fonctionnement__btns {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}
.fonctionnement__btns button {
  display: flex;
  background-color: #f6f6f6;
  padding: 20px;
  border-radius: 20px;
  font-weight: 600;
  margin: 10px;
}
.fonctionnement__btns button span {
  position: relative;
  left: -30px;
  padding: 3px 7px;
  border-radius: 50%;
  background-color: #9356DC;
  color: white;
}
.fonctionnement__btns button i {
  margin-right: 20px;
  color: gray;
}
.fonctionnement__btns button:hover i {
  color: #9356DC;
}

.restaurants {
  display: flex;
  background-color: #f6f6f6;
  flex-direction: column;
  padding: 20px;
}
.restaurants a {
  text-decoration: none;
  color: black;
}
.restaurants__cards {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 30px;
}
.restaurants__cards .card {
  border-radius: 30px;
  background-color: white;
  overflow: hidden;
}
.restaurants__cards img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}
.restaurants__cards .card__content {
  display: flex;
  justify-content: space-between;
  padding: 20px 10px;
  background-color: white;
}
.restaurants__cards .card__content .card__txt p {
  padding: 5px;
  font-weight: 350;
}
.restaurants__cards .card__content .heart-container {
  font-size: 25px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header a {
  position: relative;
  font-size: 25px;
  color: black;
  left: -165px;
  bottom: -30px;
}
.header img {
  width: 200px;
  padding: 20px 0px;
  padding-top: 0;
}

.hero__main {
  display: flex;
  background-color: white;
  padding: 0;
}
.hero__main img {
  width: 120%;
}

.title {
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
  font-family: shrikhand;
  font-size: 18px;
  padding: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.title .heart-container {
  font-size: 25PX;
}

.content {
  background-color: #f6f6f6;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.menu__btns {
  display: flex;
  flex-direction: column;
}
.menu .menu__title {
  padding: 20px;
}
.menu .card {
  display: flex;
  background-color: white;
  border-radius: 20px;
  margin: 10px;
  align-items: center;
  text-align: left;
  overflow: hidden;
  justify-content: space-between;
}
.menu .card__title {
  margin: 15px 0px;
  margin-left: 20px;
  width: 80%;
  overflow: hidden;
}
.menu .card__title h3, .menu .card__title p {
  text-overflow: ellipsis;
  text-wrap: nowrap;
  overflow: hidden;
}
.menu .card__price {
  display: flex;
  color: black;
  margin-right: 10px;
}
.menu .card__checked {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #99E2D0;
  color: white;
  width: 0px;
  height: 70px;
  transition: width 1s ease-in-out;
}
.menu .card:hover .card__checked {
  width: 70px;
}

.menu_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}/*# sourceMappingURL=index.css.map */