.fonctionnement__title {
  display: flex;
  margin-top: 60px;
  margin-bottom: 20px;
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  padding: 20px;

  &__btns {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;

  

  button{
    display: flex;
    background-color: $color-light-gray;
    padding: 20px;
    border: none;
    border-radius: 20px;
    font-weight: 600;
    margin: 10px;
    box-shadow: 1px 3px 8px 2px gray;
    font-size: 16px;
    

    span{
      position: relative;
      left: -30px;
      padding: 3px 7px;
      border-radius: 50%;
      background-color: $color-primaire;
      color: white;
    }

    i{
      margin-right: 20px;
      color: gray;
    }

    &:hover i{
      color: $color-primaire;
    }
  }
}


}
