.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;


    a {
        position: absolute;
        font-size: 20px;
        color: black;
        left: 20px;
        top: 20px;
       
        
    }
    

    img {
        width: 200px;
        padding: 20px 0px;
        
        
    }
   
}


.hero__main{
    display: flex;
    background-color: white;
    padding: 0;
    
    img{
        width: 100%;   
        height: 260px;
        object-fit: cover;
    }
}

.title{
    display: flex;
    justify-content:space-between;
    margin-right: 10px;
    font-family: shrikhand;
    font-size: 18px;
    padding: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    .heart-container{
        font-size: 25PX;
    }

    }
