.content {
    background-color: $color-light-gray;
    border-radius: 50px 50px 0 0;
    position: relative;
    z-index: 1;
    margin-top: -50px;
}

.block-1 {
    opacity: 0;
    animation: fadeIn 3s ease-in forwards;
    animation-delay: 0s;
}
.block-2 {
    opacity: 0;
    animation: fadeIn 3s ease-in forwards;
    animation-delay: 2s;
}
.block-3 {
    opacity: 0;
    animation: fadeIn3 3s ease-in forwards;
    animation-delay: 4s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
       
    }
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &__text {
        padding: 10px;
    }
    &__underline {
        border-bottom: 5px solid $color-tertiaire;
        width: 10%;
        padding-top: 8px;
    }


    &__btns {
        display: flex;
        flex-direction: column;

    }

    .menu__title {
        padding: 20px;

    }
    

    //article
    .card {
        display: flex;
        background-color: white;
        border-radius: 20px;
        margin: 10px;
        align-items: center;
        text-align: left;
        overflow: hidden;
        justify-content: space-between;
        box-shadow: 1px 3px 8px 2px lightgrey;

        &__title {
            margin: 15px 0px;
            margin-left: 20px;
            width: 80%;
            overflow: hidden;

            h3,p{
                text-overflow: ellipsis;
                text-wrap: nowrap;
                overflow: hidden;
                padding: 2px;
            }
        }

        &__price {
            display: flex;
            color: black;
            font-weight: 500;
            margin-left: 45px;
            padding: 10px;
            margin-top: 30px;


        }

        &__checked {
            display: flex;
            justify-content: center;
            align-items: center;
            background: $color-tertiaire;
            color: white;
            width: 0px;
            height: 80px;
            transition: width 1s ease-in-out;

        }
        &:hover .card__checked {
            width: 70px;
        
        }
    }
}




.menu_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}