$color-primaire: #9356DC;
$color-secondaire:#FF79DA;
$color-tertiaire:#99E2D0;

$color-light-gray:#f6f6f6;
$color-gray:#eaeaea;

body {
    font-family: roboto;
    margin: auto;
}
body * {
    margin: 0px;
    padding: 0px;
  }
  .main{
    background-color: $color-light-gray;
  }
.shrikhand {
    font-family: shrikhand;
}

.btn_commande {
    background: linear-gradient($color-secondaire, $color-primaire);
    padding: 20px;
    border-radius: 20px;
    border: none;
    color: white;
    font-weight: 600;
    margin-top: 20px;
    transition: all 1s ease-in-out;

   :hover{
        box-shadow: 10px 5px 5px red;
        opacity: 0.9;
        
    }

}
.heart-container{
    font-size: 25px;
    position: relative;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover .fa-regular{
        opacity: 0;
        
    }

    
    .fa-solid{
        position: absolute;
        opacity: 0;
    }
}



footer{
    display: flex;
    color: white;
    background-color: #353535;
    padding: 20px;
    
    
    
    
    .footer__ul{
        list-style:  none;
    }
    a{
        text-decoration: none;
        color: white;
    }
}


